@import "custom";

*{
  padding: 0;
  margin: 0;
  font-family: monospace;
}


.section{ 
  width: 100%;
  padding: 0em;
  margin: 0px;
}
.bordered{
  border:3px solid black;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
  height:inherit;
}

.divisor {
  border-top: white solid 3px;
  margin: 2em auto;
  opacity: .2;
}

.navigation {
  color: white;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
}

.footer{
  text-align: center;
  margin: auto;
  color: white;
  background-color: #252424;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.active-link{
  color:lightsteelblue;
  border-bottom: 2px solid lightsteelblue;
}

//shake and grow animation
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg) scale(1.2, 1.2); }
  10% { transform: translate(-1px, -2px) rotate(-1deg) scale(1.4, 1.4); }
  20% { transform: translate(-3px, 0px) rotate(1deg) scale(1.6, 1.6); }
  30% { transform: translate(3px, 2px) rotate(0deg) scale(1.8, 1.8); }
  40% { transform: translate(1px, -1px) rotate(1deg) scale(2.0, 2.0); }
  50% { transform: translate(-1px, 2px) rotate(-1deg) scale(2.0, 2.0); }
  60% { transform: translate(-3px, 1px) rotate(0deg) scale(1.8, 1.8); }
  70% { transform: translate(3px, 1px) rotate(-1deg) scale(1.6, 1.6);}
  80% { transform: translate(-1px, -1px) rotate(1deg) scale(1.4, 1.4); }
  90% { transform: translate(1px, 2px) rotate(0deg) scale(1.2, 1.2); }
  100% { transform: translate(1px, -2px) rotate(-1deg) scale(1, 1); }
}

// .about {
//   max-height:100vh;
//   background-color:whitesmoke;
// }
// .resume {
//   min-height:100vh;
//   background: rgb(232,232,232);
//   background: linear-gradient(180deg, rgba(232,232,232,1) 2%, rgba(79,76,76,1) 6%, rgba(43,43,43,1) 10%);
//   color: white;
// }

// .projects {
//   min-height:110vh;
//   color: white;
//   background: rgb(43,43,43);
// background: linear-gradient(180deg, rgba(43,43,43,1) 0%, rgba(28,26,25,1) 26%, rgba(0,0,0,1) 48%);
// }

// @media (max-width: 767.98px) { 
  
//   .flex-variant{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   p.message {
//     font-size: 1.2em;
//     text-align: center;
//   }

//   p.skills {
//     font-size: .5em;
//     font-weight: bold;
//   }

//   .social i {
//     color: white;
//     font-size: 2rem;
//     margin: 0em .5em;
//   }

//   .avatar{
//     height:12em;
//     width:12em;
//     border-radius: 50%;
//     border: .1em solid lightgrey;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   }


//   .resume-title {
//     font-weight: bold;
//     font-size: 1.2em;
//     min-width: 15em;
//     text-align: center;
//     border: 1px solid white;
//   }

//   .resume-title>span {
//     border-bottom: 3px solid lightsteelblue;
//   }

//   .resume-left {
//     display:flex;
//     justify-content: center;
//     margin: 1em 0em ;
//   }
//   .description {
//     display:flex;
//     justify-content:center;
//     flex-direction: column;
//     width: auto;
//     margin: auto;
//     text-align: center;

//   }
//   .achievement {
//     font-weight: bold;
//     font-size: 1em;
//     font-style: italic;
//   }
//   .location,.date {
//     font-weight: bold;
//     font-size: 1em;
//   }
//   .navigation {
//     color: white;
//     justify-content: center;
//     width: 100%;
//     font-size: 1em;
//   }

//   .card-icon{
//     font-size: 2em;
//     color: black;
//     margin: .5em;
//   }
//  }



// @media (min-width: 768px) { 

//   .flex-variant{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }
 
//   p.message {
//     font-size: 1.5em;
//     text-align: left;
//   }

//   p.skills {
//     font-size: 1.6em;
//     font-weight: bold;
//   }

//   .social i {
//     color: white;
//     font-size: 4rem;
//     margin: 0em .5em;
//   }

//   .avatar{
//     height:12em;
//     width:12em;
//     margin-right: 5em;
//     border-radius: 50%;
//     border: .1em solid lightgrey;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   }
  

//   .resume-title {
//     font-weight: bolder;
//     font-size: 1.6em;
//     text-align: center;
//   }

//   .resume-title>span {
//     border-bottom: 3px solid lightsteelblue;
//   }

//   .resume-left {
//     display:flex;
//     justify-content:right;
//   }

//   .description {
//     display: flex;
//     justify-content:space-between;
//     width: auto;
//     margin:auto;
//   }

//   .achievement {
//     font-weight: bold;
//     font-size: 1.5em;
//     font-style: italic;
//     border-bottom: 1px solid dimgrey;
//   }
  
//   .location,.date {
//     font-weight: bold;
//     font-size: 1.5em;
//   }


//   .card-icon{
//     font-size: 2.2em;
//     color: black;
//     margin: .4em;
//   }
// }

// @media (min-width: 1010px) { 
//   p.message {
//     font-size: 2em;
//     text-align: left;
//   }

//   .flex-variant{
//     display: flex;
//     flex-direction: row;
//   }

//   .avatar{
//     height:15em;
//     width:15em;
//     margin-right: 10em;
//     border-radius: 50%;
//     border: .1em solid lightgrey;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   }

// }



// .skillset{
//   margin-top: 10em;
//   display: flex;
//   justify-content: center;
// }

// .social {
//   display: flex;
//   justify-content: center;
//   width: 50%;
//   padding: 1em;
// }













